.iconWhatsapp{
   
    position: fixed;
    display: flex;
    height: 80px;
    width: 80px;
    bottom: 40px;
    right: 15px;
    z-index: 10;
    
}


.iconWhatsapp img{

    height: 100%;
    width: 100%;
    
    
}
.iconWhatsapp:hover{
   
transform:scale(1.2);
transform:rotate(-360deg);
transition-duration: 1s;
right: 20px;  
bottom: 50px;  
-webkit-animation: move 1s infinite;
}

@-webkit-keyframes move {
  0% { -webkit-transform: translate(20px); }
  100% { -webkit-transform: translate(500px); }
}